* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    padding-top: 45px;
    width: 1920px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 148px;
}

.top-logo {
    width: 35px;
    height: 40px;
    flex-shrink: 0;

}

.left-header {
    display: flex;
    justify-content: center;
    padding: 10px;

}


.textLogo {
    color: #000;
    font-size: 24px;
    font-family: Gilroy-Bold;
    padding-left: 14px;
}

.header_links1 {
    color: #F25822;
}


.conteiner {
    padding-left: 346px;
    display: flex;
    align-content: center;

}

.head {
    color: #000000;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
    padding: 15px;
    text-decoration-line: none;
}

.btn-top {
    display: flex;
    justify-content: center;
    padding: 5px 34px;
}

.btn-nav {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F25822;
    font-size: 14px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.content_block {
    margin-top: 143px;
}

.title {
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    margin-bottom: 17px;
    position: relative;

}

.element{
    position: absolute;
    width: 320px;
    top: 60px;
    left: 0;
    padding-left: 0px;
}



.text {
    color: #888;
    font-size: 20px;
    font-family: Gilroy-Medium;
    margin-bottom: 37px;
}

.content_buttons {
    margin-top: 15px;
}

.btn1 {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 20px 40px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.btn-icon{
    padding-right: 15px;
    padding-left: 27px;
}


.btn2 {
    color: #AAA;
font-size: 15px;
font-family: Gilroy-Bold;
text-decoration: none;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-left: 373px;
    margin-right: 439px;
    margin-bottom: 200px;
 
}

.left-content, .right-content {
    width: 48%;
}

.footer {
    margin-bottom: 50px;
    margin-left: 345px;
    margin-right: 375px;
    display: flex;
    justify-content: space-between;
}